#page 
{
	margin: 0;
	margin-top: 17px;
	padding: 0;
}
#content 
{
	background: url(images/content_start.gif) repeat-x left top;
	margin-top: 20px;
	margin-left: 228px;
	margin-right: 25px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 0.9em;
	padding-top: 7px;
}

#sidebar
{
	position: absolute;
	top: 118px;
	left: 16px;
	width: 191px;
	line-height: 120%;
}
#sidebar .menutitle
{
	font-weight: bold;
	font-size: 0.85em;
	padding-bottom: 2px;
	display: block;
}
#sidebar .darkmenu
{
	padding: 0;
	padding-bottom: 10px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	background-image: url(images/darkbg_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	color: #CDCDCD;
	text-decoration: none;
}
#sidebar .darkmenu a
{
	color: white;
	text-decoration: none;
}
#sidebar .darkmenu a:hover
{
	color: white;
	text-decoration: underline;
}
#sidebar .darkmenu a:visited
{
	color: #dfdfcf;
}

#sidebar .darkmenucontent
{
	background-image: url(images/darkbg_top.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 15px;
}

#sidebar .lightmenu
{
	padding: 0;
	padding-bottom: 10px;
	font-family: verdana, sans-serif;
	font-weight: bold;
	background-image: url(images/lightbg_bottom.png);
	background-repeat: no-repeat;
	background-position: bottom;
	color: #505050;
}
#sidebar .lightmenu a
{
	color: #505050;
	text-decoration: none;
}
#sidebar .lightmenu a:hover
{
	color: #000000;
	text-decoration: underline;
}
#sidebar .lightmenucontent
{
	background-image: url(images/lightbg_top.png);
	background-repeat: no-repeat;
	background-position: top;
	padding: 15px;
}

#sidebar ul 
{
	margin: 0;
	padding: 0;
}
#sidebar li 
{
	font-weight: normal;
	font-size: 0.75em;
	margin: 0;
	margin-left: 18px;
	padding: 0;
}
#sidebar li a:hover 
{
	text-decoration: underline;
}


#footer 
{
	text-align: center;
	vertical-align: middle;
    /* border: solid 1px black; */
	clear: both;
	background: url(images/content_start.gif) repeat-x left top;
	margin: 20px 0px 0 auto;
	width: auto;
	text-align: center;
	font-size: 80%;
	padding-top: 10px;
}
#footer ul 
{
	margin: 0;
	padding: 0;
}
#footer li 
{
	display: inline;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
}
#footer #stickers 
{
	padding-top: 20px;
}
#footer #stickers div 
{
	display: inline;
}
#footer #stickers img 
{
	border: none;
}

div.breadcrumbs 
{
	background-color: white;
	border: solid #BBB 1px;
	padding: 4px;
	margin-left: 5px;
	margin-right: 230px;
	margin-bottom: 15px;
	font-size: 0.80em;
}

div.breadcrumbs a.breadcrumbs 
{
	text-decoration: none;
}

div.breadcrumbs span.breadcrumbs 
{
	font-weight: bold;
}

/** Used inside Warning and note blocks for titles */

div.boxtitle
{
	float:left;
	padding: 10px;
	padding-top: 17px;
	left: 2px;
	font-family: verdana, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

div.innercontent
{
	padding: 10px;
	padding-top: 1px;
}

/** Warning box */

div.warning
{
	background: #F6F6BF url(images/warn_bg.png) repeat-x bottom;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
}

div.warningtopbg
{
	background: url(images/warn_bg_top.png) repeat-x top;
}

div.warningborderleft
{
	background: url(images/warn_border.png) repeat-y left;
}
div.warningborderright
{
	background: url(images/warn_border.png) repeat-y right;
}

div.warningtopleft
{
	background: url(images/warn_left_top.png) no-repeat top left;
}
div.warningtopright
{
	background: url(images/warn_right_top.png) no-repeat top right;
}
div.warningbottomleft
{
	background: url(images/warn_left_bottom.png) no-repeat bottom left;
}
div.warningbottomright
{
	background: url(images/warn_right_bottom.png) no-repeat bottom right;
}

/** Quick Note box */

div.note
{
	background: #D2DBD9 url(images/note_bg.png) repeat-x bottom;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 60%;
}

div.notetopbg
{
	background: url(images/note_border.png) repeat-x top;
}

div.noteborderleft
{
	background: url(images/note_border.png) repeat-y left;
}
div.noteborderright
{
	background: url(images/note_border.png) repeat-y right;
}

div.notetopleft
{
	background: url(images/note_left_top.png) no-repeat top left;
}
div.notetopright
{
	background: url(images/note_right_top.png) no-repeat top right;
}
div.notebottomleft
{
	background: url(images/note_left_bottom.png) no-repeat bottom left;
}
div.notebottomright
{
	background: url(images/note_right_bottom.png) no-repeat bottom right;
}

/** Download box */

div.download
{
	position: relative;
	width: 410px;
	background: url(images/down_bg.gif) no-repeat center;
	padding: 0;
	margin: 0;
	margin-top: 15px; 
	margin-bottom: 15px;
}

div.downloadborderleft
{
	background: url(images/down_left.gif) no-repeat left;
}
div.downloadborderright
{
	background: url(images/down_right.gif) no-repeat right;
	height: 88px;
}

div.filename
{
	top: 42px;
	position: absolute;
	padding: 0;
	margin: 0;
	margin-left: 89px;
	font-family: verdana, sans-serif;
	font-size: 0.9em;
}
div.filename a
{
	color: navy;
}

.news
{
	margin-left: 1px;
	padding-left: 10px;
	list-style: square;
}

.news li
{
	padding-top: 8px;
	padding-left: 3px;
}

.mp
{
	margin-top: 10px;
	padding-top: 0px;
	color: #5265A6;
	font-weight: bold;
	font-family: 'Trebuchet MS', Verdana;
}

