body
{
	background: white url(images/bg.png) repeat;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

#topheader
{
	background: white url(images/bg_top.png) repeat-x;
	padding: 0;
	margin: 0;
}

#maintitle 
{
	clear: both;
	position: relative;
	margin: 0;
	height: 63px;
}

#maintitle h1 
{
	position: absolute;
	top: 0; 
	left: 0;
	margin: 0;
}
#maintitle h2 
{
	position: absolute;
	top: 0; 
	right: 0;
	margin: 0;
}
#maintitle h1 a,#maintitle h1 a:hover 
{
	display: block;
	width: 280px; 
	height: 63px;
	background: url(images/cp_title.png) no-repeat;
	font-size: 1px;
	text-indent: -7000em;
	text-decoration: none;
}
#maintitle h2 a,#maintitle h2 a:hover 
{
	display: block;
	margin-top: 5px;
	width: 180px; 
	height: 63px;
	background: url(images/castle-shlogo.gif) no-repeat;
	font-size: 1px;
	text-indent: -7000em;
	text-decoration: none;
}

#mainbar 
{
	position: relative;
	margin-top: 0px;
	padding: 0;
	background: white url(images/top_bar_bg.png) repeat-x right top;
	height: 37px;
}

#mainbar #toplinks
{
	position: absolute;
	bottom: 0;
	right: 5px;
	top: 0;
	margin: 0;
	margin-right: 5px;
	padding: 0 0 0 0;
	list-style-type: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

#mainbar #toplinks li
{
	/* border: 1px solid green; */
	text-align: center;
	float: left;
	height: 37px;
	padding-left: 1px;
	padding-right: 1px;
	background: url(images/top_bar_border.png) no-repeat right center;
}

#mainbar #toplinks li a
{
	display: block;
	position: relative;
	text-decoration: none;
	color: #ECECEC;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 9px;
	height: 27px;
}

#mainbar #toplinks li a:hover
{
	color: white;
	background-color: #3D56A4;
}

#coolpage 
{
	margin: 0;
	padding: 0;
}

#coolpage  a
{
	color: #0A50A1;
}

#coolpage  a:hover
{
	color: navy; /* #0E68C1; */
}

#coolpage  a:visited
{
	color: #373737;
}

.content 
{
	margin: 0;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 0.9em;
	padding: 15px;
}

#footer 
{
	text-align: center;
	vertical-align: middle;
    /* border: solid 1px black; */
	clear: both;
	margin: 20px 0px 0 auto;
	width: auto;
	text-align: center;
	font-size: 80%;
	padding-top: 10px;
}
#footer ul 
{
	margin: 0;
	padding: 0;
}
#footer li 
{
	display: inline;
	list-style: none;
	padding-left: 5px;
	padding-right: 5px;
}
#footer #stickers 
{
	padding-top: 20px;
}
#footer #stickers div 
{
	display: inline;
}
#footer #stickers img 
{
	border: none;
}

.atttext
{
	color: #353535;
	font-family: "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
	padding-top: 8px;
}

.linkbox
{
	font-size: 0.9em;
	margin-top: 10px;
	color: #676868;
}

.sep
{
	position: relative;
	padding: 0;
	margin: 0;
	background: blue url(images/sep-bar.png) repeat-x;
	height: 34px;
	text-align: center;
}

.sep span
{
	display: block;
	height: 28px;
	border: 1px solid white;
	padding-top: 5px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: white;
	font-weight: bold;
}


